{{define "public/files"}}
{{template "public/header" .}}
    <div class="main-card">
        <h1>上传文件</h1>
        <label for="uploadFile" id="uploadFileLabel" class="custom-file-label">选择文件</label>
        <input type="file" name="file" id="uploadFile" class="file-input" multiple>
        <button class="upload-btn" id="uploadBtn">上传文件</button>
        <div id="loading" class="progress-bar"><div id="progressFill" class="progress-fill"></div></div>
        <div id="response" class="success-message"></div>
    </div>
{{template "public/footer" .}}
{{end}}
