{{define "public/footer"}}
    </div> {{/* close container */}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // 原 uploadFile, uploadImg, paste  及百度统计 脚本
        {{/* paste original footer.tmpl JavaScript here */}}
    </script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?e729cc9f5c40bb06af74b938d0bf06f5";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>
</html>
{{end}}
